@model Product


<form method="post">
    <input hidden asp-for="Id" />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Product</h2>
            <hr />
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="@Model.Name" readonly/>
    </div>
    <div class="mb-3">
        <label asp-for="Description"></label>
        <input class="form-control" asp-for="@Model.Description" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="BarCode"></label>
        <input class="form-control" asp-for="@Model.BarCode" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Owner"></label>
        <input class="form-control" asp-for="@Model.Owner" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="ListPrice"></label>
        <input class="form-control" asp-for="@Model.ListPrice" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Price"></label>
        <input class="form-control" asp-for="@Model.Price" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Price50"></label>
        <input class="form-control" asp-for="@Model.Price50" readonly />
    </div>
    <div class="mb-3">
        <label asp-for="Price100"></label>
        <input class="form-control" asp-for="@Model.Price100" readonly />
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-danger">Back</a>
</form>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}